<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gerenciador.app.projetogerenciadorfinanceirosdm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sistema Gerenciador de Finanças"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ContaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TransacaoActivity"></activity>
        <activity android:name=".view.HistoricoContaActivity"></activity>
        <activity android:name=".view.ContaNovaActivity"></activity>
        <activity android:name=".view.FormFiltrarTransacaoActivity"></activity>
    </application>

</manifest>